@tailwind base;
@tailwind components;
@tailwind utilities;

*{

}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, input, select, textarea, button,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
  font-size: 16px;
  color: $main-color;
  box-sizing: border-box;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  font-family: 'Verdana';
}
html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}
body{
    position: relative;
    min-height: 100vh;
}


form .form-page {
  display: none;
  flex-direction: column;
}
form .form-page.active {
  display: flex;
}
form .form-page .input-group.x2 {
  display: flex;
  justify-content: space-between;
  gap: 8px;
}
@media screen and (max-width: 520px) {
  form .form-page .input-group.x2 {
    flex-direction: column;
  }
}
form .form-page .input-part {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px 0;
}
form .form-page .input-part:has(.input-error:not(.input-error:empty)) {
  padding: 20px 0 10px;
}
form .form-page .input-part .inner-input {
  max-width: inherit;
  width: inherit;
  position: relative;
}
form .form-page .input-part .inner-input::before {
  content: attr(data-placeholder);
  position: absolute;
  top: -4px;
  left: 0;
  transform: translateY(-100%);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  transition: all 0.4s linear;
  color: white;
}
form .form-page .input-part .inner-input.anim::before, form .form-page .input-part .inner-input[type-placeholder=classic]::before {
  top: 16px;
  left: 16px;
  transform: translateY(0%);
  color: #969696;
}
form .form-page .input-part .inner-input.anim:has(> input:focus)::before, form .form-page .input-part .inner-input[type-placeholder=title]::before {
  top: -4px;
  left: 0;
  transform: translateY(-100%);
  color: white;
}
form .form-page .input-part .inner-input[type-placeholder=classic].hidden-ph::before {
  display: none;
}
form .form-page .input-part .input-error {
  font-size: 14px;
  color: #9d0000;
}
form .form-page .input-part .input-error:empty {
  display: none;
}
form .button[disabled] {
  pointer-events: none;
  background-color: #969696;
}
form .d-none {
  display: none;
}
main {
  display: flex;
  justify-content: center;
  width: 100%;
}

form {
  max-width: 520px;
  width: 100%;
  margin: 40px 16px;
  border: 2px solid #00564d;
  border-radius: 20px;
  padding: 60px 20px;
  background-color: #363636;
}
form .form-page h3 {
  font-size: 32px;
  color: white;
  padding: 0 0 20px;
}
form .form-page h5 {
  font-size: 18px;
  color: white;
  padding: 0 0 20px;
}

.inner-input .input-icon {
  /* content: url(/assets/icons/icon-calendar.svg); */
  padding: 16px;
  position: absolute;
  width: 56px;
  height: 100%;
  top: 0;
  right: 0;
  border-left: solid 1px #dee3ed;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  pointer-events: none;
}
.inner-input input[unsuccess] + .input-icon {
  border-color: #9d0000;
}
.inner-input input[success] + .input-icon {
  border-color: #00897b;
}

input:is([type=text],
[type=email],
[type=tel],
[type=number],
[type=date]) {
  position: relative;
  height: 56px;
  width: 100%;
  max-width: inherit;
  border-radius: 4px;
  border: 1px solid #969696;
  background-color: transparent;
  padding-left: 16px;
  transition: border 0.4s ease-in-out;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  color: white;
}
input:is([type=text],
[type=email],
[type=tel],
[type=number],
[type=date]):-webkit-autofill, input:is([type=text],
[type=email],
[type=tel],
[type=number],
[type=date]):-webkit-autofill:hover, input:is([type=text],
[type=email],
[type=tel],
[type=number],
[type=date]):-webkit-autofill:focus, input:is([type=text],
[type=email],
[type=tel],
[type=number],
[type=date]):-webkit-autofill:active {
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: #fff !important;
}
input:is([type=text],
[type=email],
[type=tel],
[type=number],
[type=date]):-internal-autofill-selected {
  background-color: transparent !important;
  color: white !important;
}

input:is([type=text],
[type=email],
[type=tel],
[type=number],
[type=date]):disabled,
textarea:disabled {
  background-color: #969696;
}
input:is([type=text],
[type=email],
[type=tel],
[type=number],
[type=date]):disabled::-moz-placeholder, textarea:disabled::-moz-placeholder {
  color: #282828;
}
input:is([type=text],
[type=email],
[type=tel],
[type=number],
[type=date]):disabled::placeholder,
textarea:disabled::placeholder {
  color: #282828;
}

textarea:focus,
input:focus {
  outline: none;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

input[type=file] {
  display: none;
}
input[type=file] + .file-input {
  position: relative;
  height: 56px;
  width: 100%;
  max-width: inherit;
  border-radius: 4px;
  border: 1px solid #969696;
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
input[type=file] + .file-input .result::before {
  content: attr(file-title);
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  font-size: 16px;
  color: white;
}
input[type=file] + .file-input .btn-file {
  cursor: pointer;
  border: 1px solid #969696;
  color: white;
  border-radius: 4px;
  padding: 8px;
}

input[type=file][success] + .file-input {
  border: 1px solid #00897b;
}
input[type=file][success] + .file-input .result::before {
  content: attr(file-name);
}

input[type=file][unsuccess] + .file-input {
  border: 1px solid #9d0000;
}
input[type=file][unsuccess] + .file-input .result::before {
  color: #9d0000;
}
input[type=file][unsuccess] + .file-input .btn-file {
  border: 1px solid #9d0000;
  color: #9d0000;
}

input[success],
textarea[success] {
  border: 1px solid #00897b;
}

input[unsuccess],
textarea[unsuccess] {
  border: 1px solid #9d0000;
  color: #9d0000;
}

fieldset[unsuccess] .content .title {
  color: #9d0000 !important;
}

input[type=date]::-webkit-calendar-picker-indicator {
  width: 56px;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.btn-form {
  max-width: 205px;
  width: 100%;
  height: 56px !important;
  border-radius: 12px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

textarea {
  position: relative;
  height: 112px;
  width: 100%;
  max-width: inherit;
  border-radius: 4px;
  border: 1px solid #969696;
  background-color: transparent;
  padding-left: 16px;
  transition: border 0.4s ease-in-out;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  color: white;
  resize: none;
  padding: 16px;
}

fieldset {
  margin-top: 16px;
  margin-bottom: 16px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
fieldset .content {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
fieldset .content .title {
  font-size: 18px;
  color: white;
}
fieldset .content .desc {
  font-size: 16px;
  color: #969696;
}
fieldset .groups {
  display: flex;
  flex-wrap: wrap;
  row-gap: clamp(16px, 11.2px + 1vw, 24px);
  -moz-column-gap: 16px;
       column-gap: 16px;
}
fieldset.checkboxFieldset .groups .checkbox label::before {
  border-radius: 4px;
}
fieldset.checkboxFieldset .groups .checkbox input:checked + label::before {
  /* background-image: url(/assets/icons/icon-done.svg); */
  outline: 1px solid #fff;
  background-color: #00897b;
}
fieldset.radioFieldset .groups .radio label::before {
  border-radius: 50%;
}
fieldset.radioFieldset .groups .radio input:checked + label::before {
  border: 6px solid white;
  width: 20px;
  height: 20px;
  background-color: #00897b;
}

fieldset .groups :is(.checkbox, .radio) {
  display: flex;
}

fieldset .groups :is(.checkbox, .radio) input {
  display: none;
}

fieldset .groups :is(.checkbox, .radio) label {
  position: relative;
  padding-left: 48px;
  height: 32px;
  color: #fff;
  display: flex;
  align-items: center;
  cursor: pointer;
}

fieldset .groups :is(.checkbox, .radio) label::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 32px;
  height: 32px;
  outline: 1px solid #969696;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 16px 16px;
  transition: all 0.45s ease-in-out;
}

.dynamic-inputs-section {
  margin: 0 0 24px 0;
}
.dynamic-inputs-section > div {
  padding: 12px 12px;
  margin: 12px 0;
  border: 1px solid white;
  border-radius: 8px;
}
.dynamic-inputs-section .inner-dynamic-group {
  position: relative;
}
.dynamic-inputs-section .inner-dynamic-group:first-child .remove-group-inputs {
  display: none;
}
.dynamic-inputs-section .inner-dynamic-group .remove-group-inputs {
  position: absolute;
  top: 10px;
  right: 20px;
  color: white;
  font-size: 20px;
}

.underline {
  color: white;
  font-size: 16px;
  text-decoration: underline;
}